

.plushy {
    padding: 20px;
    border: 1px solid silver;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.plushy__image {
    width: 100%;
}

.plushy__name {
    text-align: center;
    color: darkgray;
}

.plushy__text {
    
}

@media only screen and (min-width: 800px) {
    .plushy {
        max-width: 30%;
    }
  }