.seznam-odkazu li,
.seznam-odkazu a {
  color: #2b6777;
}

h2 {
  text-align: center;
  color: #52ab98;
}





.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/rocket.svg);
  background-size: contain;
}
