@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f2f2;

}

main {
  padding-inline: 10px;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 80%;
    
  
  }
}